.container{
    width: 1200px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
 
}

.min-height{
    min-height: 60%;
}

.start{
    justify-content: start;
}

.colum{
    flex-direction: column;
    justify-content: start  ;
}